/* Custom styles */

.small {font-size:0.875em !important;}

@mixin margins( $t,$r,$b,$l ) {
  margin-top: $t;
  margin-right: $r;
  margin-bottom: $b;
  margin-left: $l;
}
@mixin paddings( $t,$r,$b,$l ) {
  padding-top: $t;
  padding-right: $r;
  padding-bottom: $b;
  padding-left: $l;
}

.margin-t--05 {@include margins(-0.5em,null,null,null);}
.margin-b--05 {@include margins(null,null,-0.5em,null);}
.margin-sides--05 {@include margins(null,-0.5em,null,-0.5em);}

.margin-t-00 {@include margins(0,null,null,null);}
.margin-b-00 {@include margins(null,null,0,null);}
.margin-sides-00 {@include margins(null,0,null,0);}

.margin-t-05 {@include margins(0.5em,null,null,null);}
.margin-b-05 {@include margins(null,null,0.5em,null);}
.margin-sides-05 {@include margins(null,0.5em,null,0.5em);}

.margin-t-10 {@include margins(1em,null,null,null);}
.margin-b-10 {@include margins(null,null,1em,null);}
.margin-sides-10 {@include margins(null,1em,null,1em);}

.shadow-top {box-shadow:0 -0.25em 1em 0 rgba(0,0,0,0.25);}
.shadow-bottom {box-shadow:0 0.25em 1em 0 rgba(0,0,0,0.25);}

.nav-tabs+.tab-content {
  margin:0.5em 0; padding:0.5em 0;
}
.tab-content{
  .tab-pane {}
}

.interval-box {
  @include margins(1em,null,1em,null);
  .interval {
    .interval-dates {
      .interval-start {}
      .interval-end {}
      .interval-tabs {}
    }
    .interval-results {
      .interval-result {}
    }
  }
  .batsignal {
    &.interval.well {
      background: #ff8080;
      .row {
        background: #ff80ff;
        &.interval-dates {background: #80ffff;}
        &.interval-results {background: #ffff80;}
      }
      .col-sm-6 {background: #808080;}
      .input-group {
        background: #8080ff;
        .form-control {
          background: #80ff80;
        }
      }
    }
  }
}

.datetime-display {}
.datetime-display.milli {}
.datetime-display.pretty {}
.datetime-display.fancy {

  /* default font family */
  font-family:'Roboto', sans-serif;
  /* custom font family - monospace */
  .font--mono {
    /*font-family:'Orbitron', monospace;*/
    /*font-family:'Ubuntu Mono', monospace;*/
    font-family:'PT Mono', monospace;
  }
  /* custom font family - sans-serif*/
  .font--sans {
    /*font-family:'Exo', sans-serif;*/
    /*font-family:'Oswald', sans-serif;*/
    /*font-family:'Quantico', sans-serif;*/
    font-family:'Ek Mukta', sans-serif;
  }
  .flavor--matrix {
    font-family:'Ubuntu Mono', monospace;
    td, th {
      color:#6c6;
      text-shadow:0 0 1em #696, 0 1px 1px #000;
      /* Permalink - use to edit and share this gradient -- http://colorzilla.com/gradient-editor/#333333+0,000000+100 */
      background:rgb(51,51,51); /* Old browsers */
      background:linear-gradient(to top,  rgba(51,51,51,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
  .flavor--predator {
    font-family:'Orbitron', monospace;
    td, th {
      color:#f33;
      text-shadow:0 0 1em #f00, 0 1px 1px #000;
      background:#210;
      padding:0.5em 0 0;
    }
  }
  .flavor--oblivion {
    font-family:'Exo', sans-serif;
    td, th {
      color:#369;
      text-shadow: none;
      text-shadow: 0 0 1em #fff, 0 1px 1px #666;
      background:rgb(204,204,204);
      background:linear-gradient(to bottom,  rgba(225,225,225,1) 0%,rgba(175,175,175,1) 50%,rgba(150,150,150,1) 51%,rgba(200,200,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
  .flavor--looper {
    font-family:'Quantico', sans-serif;
    td, th {
      color:#69c;
      text-shadow:0 0 1em #369, 0 1px 1px #000;
      background:rgb(51,51,51);
      background:linear-gradient(to top,  rgba(0,0,0,1) 0%,rgba(102,102,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  td, th {
    position:relative;
    width:auto;
    white-space:nowrap;
    /* text-overflow:ellipsis;*/
    overflow:hidden;

    color:#fff;
    background:rgb(127,127,127);

    position:relative;
    border-collapse:separate;
    /*border-bottom:2px grey solid;*/
    text-align:center;
    vertical-align:baseline;

    &.y, &.M, &.w, &.d, &.h, &.m, &.s, &.ms {
      .ac-val {}
      .ac-key {}
    }

    .ac-key+.ac-val {
      /*display:inline;*/
      /*border-left:2px rgba(0,0,255,1) solid;*/
    }
    .ac-val+.ac-key {
      /*display:inline;*/
      /*border-left:2px rgba(255,0,0,1) solid;*/
    }
    .ac-val, .ac-key {
      display:inline;
      position:relative;
      width:100%;
      /*float:left;*/
      text-align:left;
      vertical-align:baseline;
      line-height:1.5;
      /*display:inline-block;*/
      /*padding:0 0.125em;*/
      padding:0;
      margin:0;
      /*color:#999;background:#333;*/
      background:transparent;
      border:0;

      & i, & em {
        display:none;
        font-style:normal;
      }

      & i {display:inline-block;}
      /*& em {display:inline-block;}*/

    }
    .ac-val {
      display:block;
      font-size:2em;
      font-weight:400;
      padding-left:0.25em;
      padding-right:0.125em;
      text-align:right;
    }
    .ac-key {
      display:block;
      font-size:1em;
      font-weight:100;
      padding-right:0.25em;
      padding-left:0.125em;
      text-align:left;
      /*position:absolute;
      top:auto;
      right:0;
      bottom:0.5em;
      left:auto;*/
    }
  }
  td:first-of-type {border-radius:4px 0 0 4px;}
  & .td--div {
    /*border:1em blue solid !important;*/
    .ac-val {width:100%; display:inline;}
    .ac-key {width:auto; display:inline;}
    td:last-of-type {border-radius:0 4px 4px 0;}
    .ac-key {
      /*border-left:2px rgba(255,0,0,0.5) solid;*/
    }
    .ac-val {
      /*border-left:2px rgba(0,0,255,0.5) solid;*/
    }
  }
  & .td-th--div, 
  & .td-th--input {
    .ac-val, 
    .ac-key {width:100%; display:block;}
    td+th {
      /*border-left:2px rgba(255,0,0,0.5) solid;*/
    }
    th+td {
      /*border-left:2px rgba(0,0,255,0.5) solid;*/
    }
    th:last-of-type {border-radius:0 4px 4px 0;border-left:none;}
  }
  & .td-th--div {
    /*border:1em red solid !important;*/
    display: none;
  }
  & .td-th--input {
    /*border:1em green solid !important;*/
    display: none;
  }
}

.jumbotron {
  /* Permalink - use to edit and share this gradient -- http://colorzilla.com/gradient-editor/#7aafcc+0,ccecff+100 */
  background:rgb(127,191,255); /* Old browsers */
  background:-moz-linear-gradient(top,  rgba(127,191,255,1) 0%, rgba(204,236,255,1) 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(top,  rgba(127,191,255,1) 0%,rgba(204,236,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background:linear-gradient(to bottom,  rgba(127,191,255,1) 0%,rgba(204,236,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aafcc', endColorstr='#ccecff',GradientType=0 ); /* IE6-9 */
}

#icon {
  .icon-box {
    position:relative;
    /*background:#fed;*/
    font-size:2em;
  }
  .icon-words {font-size:1.8em;}
  .icon-glyph {font-size:1em; margin:0 -0.4em;}
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {opacity: 0.5;}

.marketing.jumbotron {margin-top:50px;}