/* Custom styles */

/* .small {font-size:0.875em !important;} */

.margin-t-05 {margin-top: 0.5em;}
.margin-b-05 {margin-bottom: 0.5em;}

.margin-t-10 {margin-top: 1.0em;}
.margin-b-10 {margin-bottom: 1.0em;}

.shadow-top {box-shadow:0 -0.25em 1em 0 rgba(0,0,0,0.25);}
.shadow-bottom {box-shadow:0 0.25em 1em 0 rgba(0,0,0,0.25);}

.nav-tabs+.tab-content {
  margin:0.5em 0; padding:0.5em 0;
}
.tab-content{
  .tab-pane {}
}

.datetime-display {}
.datetime-display.milli {}
.datetime-display.pretty {}
.datetime-display.full {
  th+td {
    /* border-left:1px transparent solid; */
    margin-left:1px;
  }
  td, th {
    position: relative;
    /* color: #999; */
    /* background: #333; */
    background: #ccc;
    position: relative;
    border-collapse: separate;
    /* border-bottom: 2px grey solid; */
    text-align: center;
    vertical-align: baseline;
    .ac-val, .ac-key {
      position: relative;
      width: auto;
      white-space: nowrap;
      /* text-overflow: ellipsis;*/
      overflow: hidden;
      /*float: left;*/
      text-align: left;
      vertical-align: baseline;
      /*display:inline-block;*/
      padding: 0;
      /*padding:0 0.5em;*/
      /*color:#999;background:#333;*/
      background: transparent;
      border:0;
    }
    .ac-val+.ac-key {}
    .ac-val {
      /*color:#0cf;*/
      font-size: 3em;
      text-align: right;
      /*width: 100%;*/
      /*padding-top: 0.5em;*/
      /*font-family: 'Orbitron', monospace, sans-serif;*/
      /*font-family: 'Roboto', sans-serif;*/
      /*font-family: 'Ubuntu Mono', monospace;*/
      /*font-family: 'PT Mono', monospace;*/
      /*font-family: 'Exo', sans-serif;*/
      /*font-family: 'Oswald', sans-serif;*/
      /*font-family: 'Ek Mukta', sans-serif;*/
      font-family: 'Quantico', sans-serif;
    }
    .ac-key {
      /*text-align: left;*/
      /*position: absolute;
      top:auto;
      right:0;
      bottom:0.5em;
      left:auto;*/
      /*border-right: 1px solid white;*/
      /*line-height: 1;*/
      /*padding-left: 0.25em;*/
      /*padding-right: 0.25em;*/
      i {
        /*display: none;*/
        font-style: normal;
      }
    }
  }
  td {
    border-radius: 3px 0 0 3px;
  }
  th {
    border-radius: 0 3px 3px 0;
    .ac-key {
      border-right:0;
    }
  }
}
.jumbotron {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7aafcc+0,ccecff+100 */
  background: rgb(127,191,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(127,191,255,1) 0%, rgba(204,236,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(127,191,255,1) 0%,rgba(204,236,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(127,191,255,1) 0%,rgba(204,236,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aafcc', endColorstr='#ccecff',GradientType=0 ); /* IE6-9 */
}
#icon {
  .icon-box {
    position:relative;
    /*background:#fed;*/
    font-size:2em;
  }
  .icon-words {font-size:1.8em;}
  .icon-glyph {font-size:1em; margin:0 -0.4em;}
}
