html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #cba;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Futura", "Helvetica", "Arial", sans-serif;
  background: #cba;
  color:#333;
  min-height: 100%;
}
/* MAIN CONTENT AREA */
header, 
footer, 
main,
.main {
  padding: 1em;
  margin: 1em;
  /*background: rgba(255, 255, 255, 0.75);*/
  background: #fff;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.25);
}
header + main,
header + .main {margin-top: 2em;}
main + footer,
.main + footer {margin-top: 2em;}
/* HEADER */
header, footer {
  /*padding: 1em;*/
  /*margin: 1em;*/
  /*background: rgba(255, 255, 255, 0.75);*/
  /*box-shadow: 0 0.5em 2em 0 rgba(0,0,0,0.25);*/
}
header h1 {
  display: inline-block;
  margin: 0 0.5em;
}
header > * {
  display: inline-block;
}
/* HEADER NAV */
header nav, header nav * {
  display: block;
  clear: both;
  padding: 0;
  margin: 0;
  text-indent: 0;
}
header nav ul {
  margin: 0;
  border-top: 4px #eee solid;
  /*list-style-image: none;*/
}
header nav ul li {
  display: inline-block;
  margin-top:-4px;
}
header nav ul li a {
  border-top: 4px #eee solid;
  padding: 0.5em 1em;
}
/* FOOTER */
footer {
  text-align: center;
}
/* TABLES */
table,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border-collapse: separate;
  vertical-align: top;
}
table {
  width: 100%;
  /*border: 3px outset #fed;*/
}
th,
td {
  padding: 16px;
  border: 3px inset #eee;
}
th {
  text-align: center;
  background: #fed;
  border: 3px inset #cba;
  text-transform: uppercase;
}
td {
  text-align: left;
}
td.r {
  text-align: right;
}
dl,
ul,
ol {
  padding: 0;
  margin: 0;
  text-indent: 0;
}
dl b:after,
ul b:after,
ol b:after {
  content: ":";
}
dt,
dd {}
dt {
  font-weight: 900;
  float: left;
}
dd {}
label {
  display: block;
  width: 100%;
  border-bottom: 1px grey solid;
  clear: both;
}
label > input, label > select {
  display: block;
  /*width: auto;*/
  width: 100%;
  /*text-align: center;*/
  padding: 0.5em;
  margin: 0.25em auto;
}
fieldset {
  display: table;
  table-layout: fixed;
  width:100%;
}
fieldset label {
  display: table-cell;
  width: 33%;
}
fieldset > label > input, fieldset > label > select {
}
label > span {line-height: 2;}
label > span + input {}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
label > span.left {}
.hide {
  display: none;
}
.calendar {
  table-layout: fixed;
}
.settings {width:auto;border: 3px inset #eee; margin-top: 1em;}
.settings th, .settings td {padding:0.25em 0.5em;}
.event {font-weight: bold; font-size: 1.5em}
.time {font-style: italic;}
.elapsed {text-decoration: underline;}
.ms {color: navy;}
.iso {color: teal;}
.full {color: cornflowerblue;}
.pretty {color: salmon;}
.humane {color: olive;}
ul.time.elapsed.pretty {
  padding: 0;
  margin: 0;
  text-indent: 0;
}
ul.time.elapsed.pretty li {
  display: inline;
  white-space: normal;
}
ul.time.elapsed.pretty li:not(:last-of-type)::after {
  content: ", ";
}
.current {border-color:#666 !important;}
input[type=radio], 
input[type=checkbox] {width:auto; display: inline-block;}
input[type=date], 
input[type=time] {
  /*display: none;*/
}
.input-datetime {display: none;}
.input-date {/*display: none;*/}
.input-time {display: none;}
